body {
    margin: 5px;
    font-size: 40px;
    font-weight: 700;
    color: #EEEEEE;
    background: #5068b6;
}

.container {
    display: flex;
    justify-content: space-around;
}

@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
}

.scoreboard {
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    color: #F94F6D;
    font-family: digital;
    background: #080001;
    margin-top: 18px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#sb {
    width: 161.23px;
}

.head {
    margin-bottom: 5px;
}

#home {
    margin-left: 10px; 
}

.increment {
    display: flex;
    justify-content: space-around;
}

button {
    color: #9AABD8;
    font-family: digital;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 40px;
    background: #18244D;
}

